<p style="font-size: 11px">
	電子現金券受下列條款及細則約束。<br/>
	The eCoupon is bound by the below terms and conditions.
</p>                                                     
<br/>
<p style="font-size: 11px">
	電子現金券條款及細則<br/>
	Terms and conditions of eCoupon<br/>
	
	
	<ol style="font-size: 11px">
		<li>Pacific Coffee 8安士細杯裝手調飲品電子現金券(價值HK$29)(「電子現金券」)無論在任何情況下均不獲轉讓、撤銷、變更、退回或兌換現金。<br/>
	Pacific Coffee 8oz Short Size Handcrafted Beverages eCoupon (valued at HK$29) (the “eCoupon”) is not transferable and cannot be cancelled, altered, returnable or redeemed for cash under any circumstances.
		</li>

	 	<li>使用電子現金券時須受以下Pacific Coffee Company Ltd. 之條款及細則約束。<br/>
	The use of eCoupon is subject to the below Terms and Conditions of Pacific Coffee Company Ltd.
		</li>

		<li>在任何情況下，中國建設銀行(亞洲)股份有限公司不須亦不會對電子現金券之使用負任何責任。有關電子現金券之使用權利的任何爭議或投訴，均應與Pacific Coffee Company Ltd. 自行解決。<br/>
	China Construction Bank (Asia) Corporation Limited is not and will not be responsibility for any liabilities as regards the use of the eCoupon under all circumstances. Any disputes or complaints concerning the use of the eCoupon should be directed to Pacific Coffee Company Ltd.
		</li>
	</ol>
	<br/>	
	Pacific Coffee Company Ltd. 之條款及細則<br/>
	Terms and conditions of Pacific Coffee Company Ltd.<br/>
	
	
	<ol style="font-size: 11px">
		<li>電子現金券持有人可於任何手調飲品交易享有HK$29折扣優惠。<br/>
	The eCoupon entitles the holder of HK$29 discount on any purchase of handcrafted beverages.
  	</li> 
		<li>
	 電子現金券適用於Pacific Coffee Company各香港分店。<br/>
	The eCoupon is redeemable at all Pacific Coffee Company branches in Hong Kong.
  	</li>
		<li>
	 電子現金券不可與其他優惠同時使用 (自攜盛器優惠除外) 。<br/>
	The eCoupon cannot be redeemed in conjunction with any other promotions or privileges (except bring-your-own-mug offer).
		</li>
		<li>
	電子現金券只可使用一次。<br/>
	      The eCoupon is valid for one-time redemption only.
		</li>
		<li>
	請於2015年4月30日或之前使用電子現金券、逾期作廢。<br/>
	Please redeem the eCoupon on or before April 30, 2015; it will be invalid after the expiry date.
		</li>
		<li>
	Pacific Coffee Company Ltd將保留此電子現金券之最終決定權。<br/>
	Pacific Coffee Company Ltd. Reserves the right of final decision in case of any dispute arising from redemption of the eCoupon.	
		</li>
</p>